accelerate==1.5.2
deepspeed==0.16.9
flask
h5py==3.15.1
matplotlib==3.10.8
ninja
numpy==1.26.4
omegaconf==2.3.0
Pillow==12.1.1
rich==13.9.4
qwen-vl-utils
setuptools
tqdm==4.67.3
torch==2.5.1
torchvision==0.20.1
transformers==4.57.0
trimesh==4.10.0
wandb
